<div class="main-container d-flex justify-content-center align-items-center">
  <div class="upload-container">
    <form [formGroup] = "uploadForm" class="container">

      <!-- OPTIONS -->
      <div class="form-group container">
        <select class="form-select form-select-lg container" formControlName="options">
            <option value="" selected>Choisir un format</option>
          <option value="9:16">9:16</option>
          <option value="4:5">4:5</option>
          <option value="1:1">1:1</option>
      </select>
      </div>

      <div class="form-group container">
         <button *ngIf="!loading" type="button" 
             class="btn btn-primary container" 
             [disabled]="uploadForm.controls.options.invalid"
             (click)="filePicker.click()">Choisir un fichier</button>
          <input type="file" #filePicker (change)="onVideoPick($event)" formControlName="video">
          <div *ngIf="loading" class="loading-container">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
      </div>

      <p *ngIf="errorMsg" class="text-danger">{{errorMsg}}</p>

    </form>
  </div>
</div>